// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin dialog-example {
  @include valo;

  .v-csslayout,
  .v-window-contents,
  .v-window-contents > .v-scrollable,
  .v-window-wrap,
  .popupContent,
  .v-window {
  	overflow: visible !important;
  }
  
  .v-csslayout {
  	position: relative;
  }

  .text-field {
  	position: relative;
  	display: flex;
  }
  
  .text-field__icon {
  	position: absolute;
    top: 13px;
    left: 9px;
  	z-index: 2;
  	pointer-events: none;
  }
  
  .text-field__input {
	padding-left: 27px;
  	flex-grow: 1;
  	flex-shrink: 1;
  	width: 0;
  	
  	&.v-textfield-focus {
  	  z-index: 1;
  	}
  }

  .text-field--required-hidden .v-required-field-indicator {
  	display: none;
  }

  .text-field--section-top {
  	margin-top: -1px;
  }
  
  .text-field--section-left {
  	margin-left: -1px;
  }
  
  .text-field--section-top .text-field__input {
  	border-top-left-radius: 0;
  	border-top-right-radius: 0;
  	border-top-color: rgb(226, 226, 226);
  	
  	&:focus {
  		border-top-color: rgb(25, 125, 225);
  	}
  }
  
  .text-field--section-right .text-field__input {
  	border-top-right-radius: 0;
  	border-bottom-right-radius: 0;
  	border-right-color: rgb(226, 226, 226);
  	
  	&:focus {
  		border-right-color: rgb(25, 125, 225);
  	}
  }
  
  .text-field--section-bottom .text-field__input {
  	border-bottom-left-radius: 0;
  	border-bottom-right-radius: 0;
  	border-bottom-color: rgb(226, 226, 226);
  	
  	&:focus {
  		border-bottom-color: rgb(25, 125, 225);
  	}
  }
  
  .text-field--section-left .text-field__input {
  	border-top-left-radius: 0;
  	border-bottom-left-radius: 0;
  	border-left-color: rgb(226, 226, 226);
  	  	
  	&:focus {
  		border-left-color: rgb(25, 125, 225);
  	}
  }
  
  .layout--padded {
  	padding: 2rem 2rem;
  }

  .layout--vertical {
  	display: flex;
  	flex-direction: column;
  	
  	& > * {
	  width: 100%;  	
  	}
  }
  
  .layout--horizontal {
  	display: flex;
  	
  	& > * {
  	  flex-grow: 1;
  	  flex-shrink: 1;
  	}
  }
  
  .layout__spacer {
  	margin: .5rem 0;
  }
  
  .v-window {
  	background: $v-app-background-color;
  }

  .v-window-contents > .v-scrollable:before,
  .v-window-outerheader:after {
  	content: none;
  }

  .v-scrollable {
  	position: static !important;
  }

  .badge {
  	position: absolute;
  	z-index: 1;
  	top: -40px;
  	left: 0;
  	right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
  }
  
  :root & .v-checkbox {
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    padding: 0;
    
    & > input {
      margin: 3px;
    }
    
	& > input,
	& > input ~ label:before, 
	& > input ~ label:after {
	  top: 8px;
	  left: 9px;
	}
  
    & > label {
   	  box-sizing: border-box;
   	  width: 100%;
   	  height: 35px;
	  padding: 8px;
   	  padding-left: 34px;
      font-weight: bold;
      opacity: .8;
    }
  }

  .v-label {
  	text-align: center;
  }
  
  h1 {
  	font-weight: bold;
  	font-size: 1rem;
  	margin: 0;
  	line-height: 1.4;
  }
  
  .v-panel-caption {
  	padding: 0 2rem;
  }
  
  header {
  	padding: 3rem 2rem 1rem;
  	
    & > p {
  	  font-size: .8rem;
  	  font-weight: bold;
  	  opacity: .8;
  	  margin: 0;
  	  line-height: 1.4;
    }
  }
  
  .v-window-closebox {
  	background: transparent;
  	left: 0;
  	right: initial;
  }
}
